{% extends 'catalog/base.html'%}
{% load my_tags %}
{%block content%}


<div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img src="{{product.image | media_filter}}">
                            <div class="card-body">
                                <h5 class="card-text">{{object.name}}</h5>
                                <p class="card-text">{{ object.description |truncatechars:100}}</p>
                                <h6 class=card-price">{{ object.purchase_price }}</h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex gap-2 mt-4 justify-content-center" >
                                       <a class="btn btn-primary btn-sm" href="{% url 'catalog:product_list'%}" role="button">Назад</a>
                                        {% if object.owner == user or perms.catalog.can_unpublish_product or user.is_staff %}
                                        <a href="{% url 'catalog:product_update' object.pk %}" class="btn btn-primary btn-sm">Редактировать</a>
                                        {% endif %}
                                        {% if perms.catalog.can_unpublish_product or user.is_staff or user == object.owner %}

                                        <form action="{% url 'catalog:product_unpublish' object.pk %}" method="post" class="d-inline">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-warning btn-sm" onclick="return confirm('Отменить публикацию?');">
                                                Снять с публикации
                                            </button>

                                        </form>
                                    {% endif %} {% if object.owner == user or perms.catalog.can_unpublish_product or user.is_staff %}
                                    <a href="{% url 'catalog:product_delete' object.pk %}" class="btn btn-danger btn-sm">Удалить</a>
                                    {% endif %}
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>



{%endblock%}